
@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/orderDetails.css" asp-append-version="true" />
</head>
<body>
    <h2>View Order Details</h2>
    <div class="content">
		<div class="form">
            <div class="form-header">
                <a asp-area="" asp-controller="Home" asp-action="ViewOrders" class="icon">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </a>
                <h1>ORDER ID</h1>
                @* add to make it display center *@
                <div class="none">
                    display
                </div>
            </div>
            <div class="line"></div>
            <div class="orderInfo">
                <p>Purchase Date: @DateTime.Today.ToShortDateString()</p>
                <p>Puchase Amount: RM 123.45</p>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th class="productColumn">PRODUCT NAME</th>
                        <th class="quantityColumn">QUANTITY</th>
                        <th class="unitPriceColumn">UNIT PRICE</th>
                        <th class="totalColumn">TOTAL</th>
                    </tr>
                    <tr>
                        <td>Maggie</td>
                        <td>10</td>
                        <td>1</td>
                        <td>10</td>
                    </tr>
                </table>
            </div>
            <div class="close">
                <a asp-area="" asp-controller="Home" asp-action="ViewOrders" class="icon btnPrimary btnClose">
                    CLOSE
                </a>
            </div>
        </div>
    </div>
</body>
</html>

