/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 99.5%;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    padding: 1.25em 0 .5em 0;
    line-height: normal;
    background-color: #ecf5e0;
}

.footer-content {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
}

.footer-descr > span, .footer-info > span, .footer-contact > span, .footer-social > span, .footer-comment > span {
    display: block;
    padding: .15em 0;
}

.footer-spacing {
    margin: .25em 0;
}

.footer-form {
    padding: .15em 0;
    display: flex;
    flex-direction: column;
}

.submitBtn {
    display: flex;
    justify-content: end;
    margin-top: .15em;
}

.copyright {
    text-align: center;
    margin: 0;
    padding: .5em 0;
}

