/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lhnyh4w4af] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lhnyh4w4af] {
  color: #0077cc;
}

.nav-pills .nav-link.active[b-lhnyh4w4af], .nav-pills .show > .nav-link[b-lhnyh4w4af] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lhnyh4w4af] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-lhnyh4w4af] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lhnyh4w4af] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lhnyh4w4af] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lhnyh4w4af] {
    position: absolute;
    bottom: 0;
    width: 99.5%;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    padding: 1.25em 0 .5em 0;
    line-height: normal;
    background-color: #ecf5e0;
}

.footer-content[b-lhnyh4w4af] {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
}

.footer-descr > span[b-lhnyh4w4af], .footer-info > span[b-lhnyh4w4af], .footer-contact > span[b-lhnyh4w4af], .footer-social > span[b-lhnyh4w4af], .footer-comment > span[b-lhnyh4w4af] {
    display: block;
    padding: .15em 0;
}

.footer-spacing[b-lhnyh4w4af] {
    margin: .25em 0;
}

.footer-form[b-lhnyh4w4af] {
    padding: .15em 0;
    display: flex;
    flex-direction: column;
}

.submitBtn[b-lhnyh4w4af] {
    display: flex;
    justify-content: end;
    margin-top: .15em;
}

.copyright[b-lhnyh4w4af] {
    text-align: center;
    margin: 0;
    padding: .5em 0;
}

