/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lhnyh4w4af] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lhnyh4w4af] {
  color: #0077cc;
}

.nav-pills .nav-link.active[b-lhnyh4w4af], .nav-pills .show > .nav-link[b-lhnyh4w4af] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lhnyh4w4af] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-lhnyh4w4af] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lhnyh4w4af] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.welcome[b-lhnyh4w4af] {
    padding: 1em 2.5em 0em 4em;
    display: flex;
    justify-content: end;
    font-size: 1.5em;
}

.header[b-lhnyh4w4af] {
    padding: 1em 4em 1em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ecf5e0;
}

.header-title[b-lhnyh4w4af] {
    all: unset;
}

.header-content[b-lhnyh4w4af] {
    display: flex;
    flex-direction: row;
    gap: 5em;
    width: 45%;
    align-items: center;
    padding-top: .5em;
}

.search[b-lhnyh4w4af] {
    display: flex;
    gap: .5em;
    align-items: center;
    border: 1px solid var(--outline);
    background-color: white;
    padding: .5em;
    border-radius: .5em;
    transition: .25s;
    width: 120%
}

.search .searchIcon[b-lhnyh4w4af] {
    color: var(--outline);
    transition: .25s;
}

.search .searchTextBox[b-lhnyh4w4af] {
    align-self: stretch;
    width: 100%;
    outline: none;
    background-color: white;
}

.search .searchBtn[b-lhnyh4w4af] {
    padding: .25em .75em;
}

.search:focus-within[b-lhnyh4w4af] {
    border-color: var(--secondary-color);
    box-shadow: 0 2px 16px var(--primary-shadow);
}

.search:focus-within .searchIcon[b-lhnyh4w4af] {
    color: var(--secondary-color);
}

/*.search:focus-within .searchTextBox {
    color: var(--secondary-color);
}*/

.header-icon[b-lhnyh4w4af] {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: end;
    font-size: 1.25em;
}

.container[b-lhnyh4w4af] {
    padding: 1em 4em;
}

.footer[b-lhnyh4w4af] {
    position: absolute;
    bottom: 0;
    width: 99.5%;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    padding: 1.25em 0 .5em 0;
    line-height: normal;
    background-color: #ecf5e0;
}

.footer-content[b-lhnyh4w4af] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-descr > span[b-lhnyh4w4af], .footer-info > span[b-lhnyh4w4af], .footer-contact > span[b-lhnyh4w4af], .footer-social > span[b-lhnyh4w4af], .footer-comment > span[b-lhnyh4w4af] {
    display: block;
    padding: .15em 0;
}

.footer-spacing[b-lhnyh4w4af] {
    margin: .25em 0;
}

.footer-form[b-lhnyh4w4af] {
    padding: .15em 0;
    display: flex;
    flex-direction: column;
}

.submitBtn[b-lhnyh4w4af] {
    display: flex;
    justify-content: end;
    margin-top: .15em;
}

.copyright[b-lhnyh4w4af] {
    text-align: center;
    margin: 0;
    padding: .5em 0;
}

