/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root[b-lhnyh4w4af] {
    --primary-color: #BBDC93;
    --secondary-color: #75A253;
}

a.navbar-brand[b-lhnyh4w4af] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lhnyh4w4af] {
  color: #0077cc;
}

.btn-primary[b-lhnyh4w4af] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lhnyh4w4af], .nav-pills .show > .nav-link[b-lhnyh4w4af] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lhnyh4w4af] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lhnyh4w4af] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lhnyh4w4af] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lhnyh4w4af] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lhnyh4w4af] {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*white-space: nowrap;*/
    line-height: normal;
    /*background-color: var(--primary-color);*/
}

.footer-descr > span[b-lhnyh4w4af], .footer-comment > span[b-lhnyh4w4af] {
    display: block;
}

