/* _content/FFM/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lhnyh4w4af] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lhnyh4w4af] {
  color: #0077cc;
}

.nav-pills .nav-link.active[b-lhnyh4w4af], .nav-pills .show > .nav-link[b-lhnyh4w4af] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lhnyh4w4af] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-lhnyh4w4af] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lhnyh4w4af] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.welcome[b-lhnyh4w4af] {
    padding: 1em 2.5em 0em 4em;
    display: flex;
    justify-content: end;
    font-size: 1.5em;
}

.header[b-lhnyh4w4af] {
    padding: 1em 4em 1em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F0F0F0; /*#ecf5e0;*/
}

.header-title[b-lhnyh4w4af] {
    all: unset;
}

.header-content[b-lhnyh4w4af] {
    display: flex;
    flex-direction: row;
    gap: 5em;
    width: 45%;
    align-items: center;
    padding-top: .5em;
}

.search[b-lhnyh4w4af] {
    display: flex;
    gap: .5em;
    align-items: center;
    border: 1px solid var(--outline);
    background-color: white;
    padding: .5em;
    border-radius: .5em;
    transition: .25s;
    width: 120%
}

.search .searchIcon[b-lhnyh4w4af] {
    color: var(--outline);
    transition: .25s;
}

.search .searchTextBox[b-lhnyh4w4af] {
    align-self: stretch;
    width: 100%;
    outline: none;
    background-color: white;
}

.search .searchBtn[b-lhnyh4w4af] {
    padding: .25em .75em;
}

.search:focus-within[b-lhnyh4w4af] {
    border-color: var(--secondary-color);
    box-shadow: 0 2px 16px var(--primary-shadow);
}

.search:focus-within .searchIcon[b-lhnyh4w4af] {
    color: var(--secondary-color);
}

/*.search:focus-within .searchTextBox {
    color: var(--secondary-color);
}*/

.header-icon[b-lhnyh4w4af] {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: end;
    font-size: 1.25em;
}

.container[b-lhnyh4w4af] {
    padding: 1em 4em;
}

.footer[b-lhnyh4w4af] {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    padding: 1.25em 0 .5em 0;
    line-height: normal;
    background-color: #F0F0F0;
}

.footer-content[b-lhnyh4w4af] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-descr > span[b-lhnyh4w4af], .footer-info > span[b-lhnyh4w4af], .footer-contact > span[b-lhnyh4w4af], .footer-social > span[b-lhnyh4w4af], .footer-comment > span[b-lhnyh4w4af] {
    display: block;
    padding: .15em 0;
}

.footer-spacing[b-lhnyh4w4af] {
    margin: .25em 0;
}

.footer-form[b-lhnyh4w4af] {
    padding: .15em 0;
    display: flex;
    flex-direction: column;
}

.submitBtn[b-lhnyh4w4af] {
    display: flex;
    justify-content: end;
    margin-top: .15em;
}

.copyright[b-lhnyh4w4af] {
    text-align: center;
    margin: 0;
    padding: .5em 0;
}

/* _content/FFM/Views/Shared/_LayoutDeliveryMen.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gy2lz19oyy] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-gy2lz19oyy] {
    color: #0077cc;
}

.nav-pills .nav-link.active[b-gy2lz19oyy], .nav-pills .show > .nav-link[b-gy2lz19oyy] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-gy2lz19oyy] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-gy2lz19oyy] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gy2lz19oyy] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.welcome[b-gy2lz19oyy] {
    padding: 1em 2.5em 0em 4em;
    display: flex;
    justify-content: end;
    font-size: 1.5em;
}

.header[b-gy2lz19oyy] {
    padding: 1em 4em 1em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F0F0F0; /*#ecf5e0;*/
}

.header-title[b-gy2lz19oyy] {
    all: unset;
}

.header-content[b-gy2lz19oyy] {
    display: flex;
    flex-direction: row;
    gap: 5em;
    width: 45%;
    align-items: center;
    padding-top: .5em;
}

.search[b-gy2lz19oyy] {
    display: flex;
    gap: .5em;
    align-items: center;
    border: 1px solid var(--outline);
    background-color: white;
    padding: .5em;
    border-radius: .5em;
    transition: .25s;
    width: 120%
}

.search .searchIcon[b-gy2lz19oyy] {
    color: var(--outline);
    transition: .25s;
}

.search .searchTextBox[b-gy2lz19oyy] {
    align-self: stretch;
    width: 100%;
    outline: none;
    background-color: white;
}

.search .searchBtn[b-gy2lz19oyy] {
    padding: .25em .75em;
}

.search:focus-within[b-gy2lz19oyy] {
    border-color: var(--secondary-color);
    box-shadow: 0 2px 16px var(--primary-shadow);
}

.search:focus-within .searchIcon[b-gy2lz19oyy] {
    color: var(--secondary-color);
}

/*.search:focus-within .searchTextBox {
    color: var(--secondary-color);
}*/

.header-icon[b-gy2lz19oyy] {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: end;
    font-size: 1.25em;
}

.container[b-gy2lz19oyy] {
    padding: 1.5em 4em 1em 4em;
    display: flex;
    gap: 1em;
}

.sideNav[b-gy2lz19oyy] {
    width: 20%;
    display: grid;
    row-gap: 1em;
    align-self: flex-start;
}

.navForm[b-gy2lz19oyy] {
    border: 1px solid var(--outline);
    padding: .5em 1em;
    border-radius: .75em;
}

.active[b-gy2lz19oyy] {
    outline: none;
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--primary-color);
}

.content-line[b-gy2lz19oyy] {
    border-left: 1px solid var(--outline);
    width: 80%;
}

.sideNav> .form:hover:not(.active)[b-gy2lz19oyy] {
    border: 1px solid var(--secondary-color);
    box-shadow: 0 2px 16px var(--primary-shadow);
    color: var(--secondary-color) !important;
}

.footer[b-gy2lz19oyy] {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    padding: 1.25em 0 .5em 0;
    line-height: normal;
    background-color: #F0F0F0;
}

.footer-content[b-gy2lz19oyy] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-descr > span[b-gy2lz19oyy], .footer-info > span[b-gy2lz19oyy], .footer-contact > span[b-gy2lz19oyy], .footer-social > span[b-gy2lz19oyy], .footer-comment > span[b-gy2lz19oyy] {
    display: block;
    padding: .15em 0;
}

.footer-spacing[b-gy2lz19oyy] {
    margin: .25em 0;
}

.footer-form[b-gy2lz19oyy] {
    padding: .15em 0;
    display: flex;
    flex-direction: column;
}

.submitBtn[b-gy2lz19oyy] {
    display: flex;
    justify-content: end;
    margin-top: .15em;
}

.copyright[b-gy2lz19oyy] {
    text-align: center;
    margin: 0;
    padding: .5em 0;
}
/* _content/FFM/Views/Shared/_LayoutSeller.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-wd8jyome5w] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-wd8jyome5w] {
    color: #0077cc;
}

.nav-pills .nav-link.active[b-wd8jyome5w], .nav-pills .show > .nav-link[b-wd8jyome5w] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-wd8jyome5w] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-wd8jyome5w] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-wd8jyome5w] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.welcome[b-wd8jyome5w] {
    padding: 1em 2.5em 0em 4em;
    display: flex;
    justify-content: end;
    font-size: 1.5em;
}

.header[b-wd8jyome5w] {
    padding: 1em 4em 1em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F0F0F0; /*#ecf5e0;*/
}

.header-title[b-wd8jyome5w] {
    all: unset;
}

.header-content[b-wd8jyome5w] {
    display: flex;
    flex-direction: row;
    gap: 5em;
    width: 45%;
    align-items: center;
    padding-top: .5em;
}

.search[b-wd8jyome5w] {
    display: flex;
    gap: .5em;
    align-items: center;
    border: 1px solid var(--outline);
    background-color: white;
    padding: .5em;
    border-radius: .5em;
    transition: .25s;
    width: 120%
}

.search .searchIcon[b-wd8jyome5w] {
    color: var(--outline);
    transition: .25s;
}

.search .searchTextBox[b-wd8jyome5w] {
    align-self: stretch;
    width: 100%;
    outline: none;
    background-color: white;
}

.search .searchBtn[b-wd8jyome5w] {
    padding: .25em .75em;
}

.search:focus-within[b-wd8jyome5w] {
    border-color: var(--secondary-color);
    box-shadow: 0 2px 16px var(--primary-shadow);
}

.search:focus-within .searchIcon[b-wd8jyome5w] {
    color: var(--secondary-color);
}

/*.search:focus-within .searchTextBox {
    color: var(--secondary-color);
}*/

.header-icon[b-wd8jyome5w] {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: end;
    font-size: 1.25em;
}

.container[b-wd8jyome5w] {
    padding: 1.5em 4em 1em 4em;
    display: flex;
    gap: 1em;
}

.sideNav[b-wd8jyome5w] {
    width: 20%;
    display: grid;
    row-gap: 1em;
    align-self: flex-start;
}

.navForm[b-wd8jyome5w] {
    border: 1px solid var(--outline);
    padding: .5em 1em;
    border-radius: .75em;
}

.active[b-wd8jyome5w] {
    outline: none;
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--primary-color);
}

.content-line[b-wd8jyome5w] {
    border-left: 1px solid var(--outline);
    width: 80%;
    min-height: 80%;
}

.sideNav > .form:hover:not(.active)[b-wd8jyome5w] {
    border: 1px solid var(--secondary-color);
    box-shadow: 0 2px 16px var(--primary-shadow);
    color: var(--secondary-color) !important;
}

.footer[b-wd8jyome5w] {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    /*min-height: 10em;*/
    display: flex;
    flex-direction: column;
    padding: 1.25em 0 .5em 0;
    line-height: normal;
    background-color: #F0F0F0;
}

.footer-content[b-wd8jyome5w] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-descr > span[b-wd8jyome5w], .footer-info > span[b-wd8jyome5w], .footer-contact > span[b-wd8jyome5w], .footer-social > span[b-wd8jyome5w], .footer-comment > span[b-wd8jyome5w] {
    display: block;
    padding: .15em 0;
}

.footer-spacing[b-wd8jyome5w] {
    margin: .25em 0;
}

.footer-form[b-wd8jyome5w] {
    padding: .15em 0;
    display: flex;
    flex-direction: column;
}

.submitBtn[b-wd8jyome5w] {
    display: flex;
    justify-content: end;
    margin-top: .15em;
}

.copyright[b-wd8jyome5w] {
    text-align: center;
    margin: 0;
    padding: 1.15em 0 .5em 0;
}
