.content {
    padding: 0 2em;
}

.form {
    border: 1px solid var(--outline);
    /*padding: 1em 2em;*/
    border-radius: .5em;
    /*text-align: center;*/
    margin-top: .5em;
}

.currentDelivering{
    display: flex;
    margin-bottom: 1em;
    /*justify-content: space-between;*/
}

.order {
    padding: 1em 2em .5em 2em;
    width: 60%;
}

.orderHeader > span {
    font-size: 1.35em;
}

.orderList {
    padding: .5em 1.5em;
}

.orderList > ul {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.buttons {
    display: flex;
    width: 40%;
}

.update, .route {
    border-left: 1px solid var(--outline);
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btnUpdate, .btnMap {
    height: 100%;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
}

.others {
    padding: 1em 0;
}

.packageAvailable {
    text-align: center;
}

.itemContainer {
    display: grid;
    grid-template-columns: 14% auto;
    margin-top: 1em;
    border: 1px solid var(--outline);
    /*padding: 1em 2em;*/
    border-radius: 1em;
    text-align: center;
}

.header-content {
    display: grid;
    grid-template-rows: auto min-content;
}

.header {
    padding: 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--outline);
}

.seeAllPackage {
    border-right: 1px solid var(--outline);
}

.seeAllPackageBtn {
    justify-content: center;
}

.viewDetails, .seeAllPackage {
    border-top: 1px solid var(--outline);
    padding: .5em 0;
}

.allPackages {
    padding: 1em;
    display: flex;
    gap: 1em;
    overflow: auto;
    white-space: nowrap;
}

.package {
    border: 1px solid var(--outline);
    /*padding: 1em 2em;*/
    border-radius: 1em;
    text-align: center;
    max-width: 17%;
    min-width: 17%;
}

.packageInfo {
    padding: .5em;
}

.caption{
    padding: 1em 0 .5em 0;
}

.viewDetailsBtn {
    justify-content: center;
}
