.content {
    padding: 1em 4em;
}

.form {
    border: 1px solid var(--outline);
    padding: 1em 2em;
    border-radius: 1em;
    text-align: center;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.progressBarContainer {
    max-width: 100%;
    padding: 1em 15em;
}

.progressBar {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    position: relative;
}

    .progressBar::before {
        content: "";
        position: absolute;
        left: 10%;
        height: 4px;
        width: 80%;
        top: 0%;
        transform: translateY(380%);
        background-color: black;
    }

.progress {
    position: absolute;
    left: 10%;
    background-color: var(--secondary-color);
    height: 4px;
    width: 0%;
    top: 0%;
    transform: translateY(380%);
    transition: 0.4s ease;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25em;
    z-index: 1;
}

.arrow {
    all: unset;
    display: flex;
    align-items: center;
    padding-right: 1em;
}

.iconArrow {
    transform: translateX(30%);
}

.circle {
    border: 2px solid var(--outline);
    border-radius: 50%;
    height: 2em;
    width: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.4s ease;
    background-color: white;
    color: black;
}

.circle.active {
    border: 2px solid var(--secondary-color);
}

.iconArrow.iconActive {
    color: var(--secondary-color);
}

.orderInfo {
    padding: .5em;
    font-size: 1.25em;
    display: grid;
    gap: .25em;
    font-weight: bolder;
}

.btn {
    display: flex;
    justify-content: center;
    padding-top: .5em;
}

.btnClose {
    justify-content: center;
    font-size: .9em;
}

.btnViewDetails {
    justify-content: center;
    font-size: .9em;
    width: 15%
}
