
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDeliveryMen.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/dmIndex.css" asp-append-version="true" />
</head>
<body>
    <div class="content">
        <h2>Current Delivering</h2>
		<div class="currentDelivering form">

        </div>
		<div class="line"></div>
		<div>
			<div class="packageAvailable">
				<h2>OTHER DELIVERY PACKAGE AVAILABLE</h2>
            </div>
            @* take from previous css *@
			<div>

            </div>
        </div>
    </div>
</body>
</html>
 
