
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/sellerIndex.css" asp-append-version="true" />
</head>
<body>
    <div class="content">
        <h2>Order Received</h2>
        @* current delivery will only has one so can direct declare specific *@
		<div class="itemContainer">
            <div class="header-content">
                <div class="header">
                    <h3>
                        Order Received
                    </h3>
                </div>
                <div class="buttons">
                    <a asp-area="" asp-controller="Seller" asp-action="NewDeliveryPackage" class="createDPBtn icon">
                        Create Delivery Package
                    </a>
                </div>
            </div>
			<div class="allOrders">
                <div class="order">
                    <div class="orderInfo">
                        <div>
                            <span><b>Order ID</b></span>
                        </div>
                        <div>
                            <label>Order Amount: </label>
                            <label>4</label>
                        </div>
                        <div class="orderDateInfo">
                            <label>Order Placed: </label>
                            <label>@DateTime.Today.ToString()</label>
                        </div>
                    </div>
                    <div class="viewDetails">
                        <a class="viewDetailsBtn icon" onclick="openPopUp()">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
		<br />
        <div class="line"></div>
        <div class="deliveryPackageNotAssigned">
            <h2>Delivery Packages Not Assigned</h2>
            @* take from previous css *@
            <div class="itemContainer">
                <div class="header-content">
                    <div class="header">
                        <h3>
                            Delivery Package Not Assigned
                        </h3>
                    </div>
                    <div class="buttons">
                        <a asp-area="" asp-controller="Seller" asp-action="DeliveryPackage" class="viewDPBtn icon">
                            View Delivery Package
                        </a>
                    </div>
                </div>
                <div class="allPackages">
                    <div class="package">
                        <div class="packageInfo">
                            <div class="title">
                                <span><b>Delivery ID</b></span>
                            </div>
                            <div class="caption">
                                <label>Order Amount: </label>
                                <label>4</label>
                            </div>
                        </div>
                        <div class="viewDetails">
                            <a asp-area="" asp-controller="Seller" asp-action="ViewDeliveryPackage" class="viewDetailsBtn icon">
                                View Details
                            </a>
                        </div>
                    </div>
                    <div class="package">
                        <div class="packageInfo">
                            <div class="title">
                                <span><b>Delivery ID</b></span>
                            </div>
                            <div class="caption">
                                <label>Order Amount: </label>
                                <label>3</label>
                            </div>
                        </div>
                        <div class="viewDetails">
                            <a asp-area="" asp-controller="Seller" asp-action="ViewDeliveryPackage" class="viewDetailsBtn icon">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popUpContainer" id="popUpContainer">
        <div class="popUp" id="popUp">
            <div class="form-header">
                <a class="icon" onclick="closePopUp()">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </a>
                <h1>ORDER ID</h1>
                @* add to make it display center *@
                <div class="none">
                    display
                </div>
            </div>
            <div class="line"></div>
            <div class="popOutOrderInfo">
                <p>Purchase Date: @DateTime.Today.ToShortDateString()</p>
                <p>Puchase Amount: RM 123.45</p>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th class="productColumn">PRODUCT NAME</th>
                        <th class="quantityColumn">QUANTITY</th>
                        <th class="unitPriceColumn">UNIT PRICE</th>
                        <th class="totalColumn">TOTAL</th>
                    </tr>
                    <tr>
                        <td>Maggie</td>
                        <td>10</td>
                        <td>1</td>
                        <td>10</td>
                    </tr>
                </table>
            </div>
            <div class="close">
                <a class="icon btnPrimary btnClose" onclick="closePopUp()">
                    CLOSE
                </a>
            </div>
        </div>
    </div>
    <script src="~/js/popUp.js" asp-append-version="true"></script>
</body>
</html>

