
@{
    ViewData["Title"] = "UpdateOrderStatus";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/updateOrderStatus.css" asp-append-version="true" />
</head>
<body>
    <div class="back">
        @* this can be replace by go back to previous page, dk how to do yet *@
        <a asp-area="" asp-controller="Seller" asp-action="OrderStatus" class="icon">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
            Back
        </a>
    </div>
    <div class="header">
        <h2>Update Order Status - <label>Delivery ID</label></h2>
    </div>
    <div class="content">
        <div class="orders">
            <div class="form order">
                <div class="title">
                    <span>ORDER ID</span>
                    <div class="line"></div>
                </div>
                <div class="info">
                    <div>
                        <label><b>Purchase Amount: </b></label><label>RM123.45</label>
                    </div>
                    <div>
                        <label><b>Delivery Address: </b></label><label>14, Persiaran Pantai Jerjak 4, 11900 Bayan Lepas, Pulau Pinanag</label>
                    </div>
                </div>
                <div class="genericInputField status">
                    <select>
                        <option value="value">Out of Delivery</option>
                        <option value="value">Delivered</option>
                    </select>
                </div>
                <div class="update">
                    <button class="icon btnUpdateStatus">
                        UPDATE STATUS
                    </button>
                </div>
            </div>
            <div class="form order">
                <div class="title">
                    <span>ORDER ID</span>
                    <div class="line"></div>
                </div>
                <div class="info">
                    <div>
                        <label><b>Purchase Amount: </b></label><label>RM123.45</label>
                    </div>
                    <div>
                        <label><b>Delivery Address: </b></label><label>14, Persiaran Pantai Jerjak 4, 11900 Bayan Lepas, Pulau Pinanag</label>
                    </div>
                </div>
                <div class="genericInputField status">
                    <select>
                        <option value="value">Out of Delivery</option>
                        <option value="value">Delivered</option>
                    </select>
                </div>
                <div class="update">
                    <button class="icon btnUpdateStatus">
                        UPDATE STATUS
                    </button>
                </div>
            </div>
            <div class="form order">
                <div class="title">
                    <span>ORDER ID</span>
                    <div class="line"></div>
                </div>
                <div class="info">
                    <div>
                        <label><b>Purchase Amount: </b></label><label>RM123.45</label>
                    </div>
                    <div>
                        <label><b>Delivery Address: </b></label><label>14, Persiaran Pantai Jerjak 4, 11900 Bayan Lepas, Pulau Pinanag</label>
                    </div>
                </div>
                <div class="genericInputField status">
                    <select>
                        <option value="value">Out of Delivery</option>
                        <option value="value">Delivered</option>
                    </select>
                </div>
                <div class="update">
                    <button class="icon btnUpdateStatus">
                        UPDATE STATUS
                    </button>
                </div>
            </div>
            <div class="form order">
                <div class="title">
                    <span>ORDER ID</span>
                    <div class="line"></div>
                </div>
                <div class="info">
                    <div>
                        <label><b>Purchase Amount: </b></label><label>RM123.45</label>
                    </div>
                    <div>
                        <label><b>Delivery Address: </b></label><label>14, Persiaran Pantai Jerjak 4, 11900 Bayan Lepas, Pulau Pinanag</label>
                    </div>
                </div>
                <div class="genericInputField status">
                    <select>
                        <option value="value">Out of Delivery</option>
                        <option value="value">Delivered</option>
                    </select>
                </div>
                <div class="update">
                    <button class="icon btnUpdateStatus">
                        UPDATE STATUS
                    </button>
                </div>
            </div>
            <div class="form order">
                <div class="title">
                    <span>ORDER ID</span>
                    <div class="line"></div>
                </div>
                <div class="info">
                    <div>
                        <label><b>Purchase Amount: </b></label><label>RM123.45</label>
                    </div>
                    <div>
                        <label><b>Delivery Address: </b></label><label>14, Persiaran Pantai Jerjak 4, 11900 Bayan Lepas, Pulau Pinanag</label>
                    </div>
                </div>
                <div class="genericInputField status">
                    <select>
                        <option value="value">Out of Delivery</option>
                        <option value="value">Delivered</option>
                    </select>
                </div>
                <div class="update">
                    <button class="icon btnUpdateStatus">
                        UPDATE STATUS
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

